@import url("font-awesome/css/fontawesome-all.css");
@import url("fonts.css");



/* Style the links inside the sidenav */
#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    left: -268px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 5px; /* 15px padding */
    width: 285px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 22px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0;
}

#mySidenav a:after {
    left: -268px;
}

/* The about link: 20px from the top with a green background */
#overview {
    top: 20px;
    background-color: #555 /* Light Black */
}

#countdown {
    top: 55px;
    background-color: #4CAF50;
}

#events {
    top: 90px;
    background-color: #2196F3; /* Blue */
}

#visa {
    top: 125px;
    background-color: #f44336; /* Red */
}

#logistics {
    top: 160px;
    background-color: #555 /* Light Black */
}

#impInfo {
    top: 195px;
    background-color: #4CAF50; /* green */
}

#gifts {
    top: 230px;
    background-color: #2196F3; /* green */
}

#contact {
    top: 265px;
    background-color: #f44336; /* blue */
}

